body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

main {
    margin: 10px;
}

article p {
    text-align: justify;
}

footer {
    margin-top: 10px;
    padding: 10px;
    background-color: gray;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.form {
    width: 30%;
    margin: auto
}
  
@media screen and (max-width: 992px){
    .grid{
        grid-template-columns: 1fr;
    }
    .form {
        width: 95%; 
        margin: 10px
    }
    h1 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px){
    article img {
        width: 50%;
    }
}